<h3> Your contact lists </h3>

<table class="contact_lists">
  <thead>
    <tr>
      <th> Filename </th>
      <th> Owner </th>
      <th> Contact count </th>
      <th> Date Uploaded </th>
    </tr>
  </thead>
  <tbody>
  <% @contact_lists.each do |c| %>
    <tr>
      <td> <%= link_to c.list_file_name, contact_list_path(c) -%> with (<%= c.contacts.count -%>) contacts 
      <td> <%= c.owner.name %> </td>
      <td> <%= c.contacts.count %> </td>
      <td> <%= c.created_at %> </td>
    </tr>
  <% end %>
  </tbody>
</table>

<h4> <%= link_to "Add a new contact list", new_contact_list_path %> </h4>


