<h4> <%= @contact_list.list_file_name %> </h4>
<table class="contacts">
  <thead>
    <tr>
      <th> Name </th>
      <th> Phone Number </th>
      <th> &nbsp; </th>
      <th> Status </th>
    </tr>
  </thead>
  <tbody>
  <% @contact_list.contacts.each do |contact| %>
    <tr>
      <td> <%= contact.name %> </td>
      <td> <%= link_to contact.phone_number_1, contacts_dial_path(contact) %></td>
      <td> &nbsp; </td>
      <td> &nbsp; </td>
    </tr>
  <% end %>
  </tbody>
</table>


<h4> <%= link_to "Delete this contact list", contact_list_path(@contact_list), :method => :delete, :confirm => "Are you sure to delete this list?" %> </h4>
<h4> <%= link_to "Add a new contact list", new_contact_list_path %> </h4>
