<h3> Agents </h3>

<table class="main long_first_column agents">
  <thead>
    <tr>
      <th> Name </th>
      <th> CallBack </th>
      <th> Status </th>
      <th> Assigned Contacts </th>
    </tr>
  </thead>
  <tbody>
  <% @agents.each do |a| %>
    <tr>
      <td> <%= a.name %> <%= link_to "(edit)", edit_agent_path(a) %> </td>
      <td> <%= a.ring_to_destination %> </td>
      <%= agent_status(a) %>
      <td> <%= a.assigned_contacts.count %> </td>
    </tr>
  <% end %>
  </tbody>
</table>
<h6 class="buttons"> <a href="<%= new_contact_list_path %>" class="button">Add a new contact list </a> </h6>
<h6 class="buttons"> <a href="<%= new_agent_path %>" class="button">Add a new agent</a> </h6>
