<h3> Dialer </h3>
<h4> Your Assigned Contacts (<%=@contacts.count-%>)</h4>
  <table class="short_first contacts">
    <thead>
      <tr>
        <th> Name </th>
        <th> Phone Number </th>
      </tr>
    </thead>
    <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td> <%= contact.name %> </td>
        <td> <%= link_to contact.phone_number_1, contacts_dial_path(contact) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <h6> <%= link_to "Start", "#", :class => "button" %>  
  <%= link_to "Stop", "#", :class => "button" %>  </h6>
  <br style="clear:both"/>
  <hr style="margin-bottom:3em; margin-top:3em;"/>
