<div class="left_toolbar">
  <ol>
    <li> My Tasks </li>
    <li> Settings 
        <a class="more" href="<%= edit_agent_path(current_user) %>">More Settings</a>
           
        <div class="settings">
          <%= render :partial => 'agents/telephony_settings', :locals => {:agent => @agent } %>
        </div> 
    </li>
  </ol>
</div>

  <ol class="resume">
    <li> (<%=@contacts.count-%>) Assigned Contacts</li>
  </ol>


  <br style="margin-bottom:3em; margin-top:3em;"/>
  <table class="main long_first_column contacts" >
    <thead>
      <tr>
        <th> Name </th>
        <th> Phone Number </th>
        <th> Calls count </th>
        <th> Status </th>
      </tr>
    </thead>
    <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td> <%= contact.name %> </td>


        <td> <%= link_to contact.phone_number_1, contacts_preview_dial_path(contact) %> </td> 

        <td> <%= call_history(contact) %> </td>
        <td> <%= contact.disposition %> </td>

      </tr>
    <% end %>
    </tbody>
  </table>
