<h3> Dialer </h3>
<h4> Your Assigned Contacts (<%=@contacts.count-%>)</h4>
<h5> Answering Machine Detection is <%= amd_status(current_user) -%> </h5>

  <h6> <%= link_to "Start Automatic Dialer", "#", :class => "button_small_dark_gray" %>  
  </h6>
  <br style="clear:both; margin-bottom:1em; margin-top:2em;"/>

  <table class="main long_first_column contacts" >
    <thead>
      <tr>
        <th> Name </th>
        <th> Phone Number </th>
        <th> Calls count </th>
        <th> Status </th>
      </tr>
    </thead>
    <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td> <%= contact.name %> </td>


        <td> <%= link_to contact.phone_number_1, contacts_preview_dial_path(contact) %> </td> 

        <td> <%= call_history(contact) %> </td>
        <td> <%= contact.disposition %> </td>

      </tr>
    <% end %>
    </tbody>
  </table>
