
<div class="left_toolbar">
  <ol>
    <li> My Tasks </li>
    <li> Settings 
        <a class="more" href="<%= edit_agent_path(current_user) %>">More Settings</a>
           
        <div class="settings">
          <%= render :partial => 'agents/telephony_settings', :locals => {:agent => current_user } %>
        </div> 
    </li>
  </ol>
</div>

  <div id="dialer_panel" >
    <h3> Contacting <%=@contact.name-%> </h3>
    <h4 id="state">  </h4>
    <img src="/images/ajax-loader2.gif" alt="Loading..."/>
  </div>

  <div id="wrapup_contact_form" class="viz_hidden">
    <h4> Call Disposition </h4>
    <%= semantic_form_for @contact, :as => :post, :url => contacts_wrap_up_path(@contact), :html => { :class => "small wrapup_contact", :name => "wrapup_form" } do |form|%>
      <%= render :partial => 'wrapup', :locals => {:form => form } %>
      <%= form.buttons do %>
          <li><button class="medium" type="submit">Wrap Up Call</button>
          </li>
      <% end %>
    <% end %>
    <br style="clear:both"/>
  </div>

  <br style="clear:both"/>

  <ol id="dialer_tabs"> 
    <li id="contact_information_tab"> Contact Information </li>
    <li id="scheduled_tasks_tab"> Scheduled Tasks (<%= @contact.scheduled_tasks.count %>)</li>
    <li> Notes </li>
    <li id="call_history_tab"> Call History (<%= @contact.auto_calls.count %>)</li>
  </ol>


  <div id="contact_information" class="tab_content">
    <h5> Contact information for <%=@contact.name-%> </h5>
    <%= semantic_form_for @contact, :remote => true, :html => { :class => "small edit_contact" } do |form|%>
      <%= render :partial => 'form', :locals => {:form => form } %>
    <br style="margin-bottom:1em; margin-top:1em;"/>
      <%= form.buttons do %>
          <li><button class="medium" type="submit">Update</button>
          </li>
      <% end %>
    <% end %>
    <br style="clear:both"/>
  </div>




  <div id="scheduled_tasks" class="tab_content">

    <div id="scheduled_tasks_list">
    <h5> Scheduled tasks for <%=@contact.name-%> </h5>
      <table class="small scheduled_tasks">
        <thead>
          <tr>
            <th> Scheduled Tasks</th>
            <th> Due for </th>
            <th> Status </th>
          </tr>
        </thead>
        <tbody>
        <% @contact.scheduled_tasks.each do |s| %>
          <tr>
            <td> <%= display_task_type(s) %> <%= s.description %> </td>
            <td> <%= s.scheduled_at.to_s(:short) %> </td>
            <td> no </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <div id="new_scheduled_task_form" >
      <h5> New Scheduled Task </h5>
      <%= form_for @scheduled_task, :html => { :class => "small new_scheduled_task" }, :remote => true do |f| %>
        <%= render :partial => 'scheduled_tasks/form', :locals => {:form => form } %>
        <br style="margin-bottom:1em; margin-top:1em;"/>
        <fieldset class="buttons">
          <ol>
            <li>
              <button class="medium" type="submit">Create</button>
            </li>
          </ol>
        </fieldset>
      <% end %>
    </div>
    <br style="clear:both"/>
  </div>




  <div id="call_history" class="tab_content">

    <h5> Call history for <%=@contact.name-%> </h5>
    <table class="calls">
      <thead>
        <tr>
          <th> Call Time </th>
          <th> Duration </th>
          <th> Remote </th>
          <th> Agent </th>
          <th> Answer delay </th>
          <th> Hangup by </th>
          <th> AMD </th>
        </tr>
      </thead>
      <tbody>
      <% @contact.auto_calls.each do |c| %>
        <tr>
          <td> <%= c.created_at.to_s(:short) %> </td>
          <td> <%= format_durations(c.duration) %> </td>
          <td> <%= c.result_leg_a %> </td>
          <td> <%= agent_leg_result(c) %> </td>
          <td> <%= format_durations(c.agent_delay) %> </td>
          <td> <%= c.hangup_by %> </td>
          <td> <%= c.amd %> </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <script>
  $(document).ready(function () {
    //if automatic is off then dont dial, (later display a dial button)
    //if automatic is on then fire the call
    var d = new DialAttempt(<%= @contact.id %>);

    var tabs = ["#contact_information", "#call_history", "#scheduled_tasks"];
    tab_setup("#contact_information", tabs); 

    $( "div#new_scheduled_task_form .date_picker" ).datetimepicker( { altField: '#scheduled_task_scheduled_at', showButtonPanel: false } );

  }); 
/*
    <p>To end this call press 
    <= link_to "Hangup", "#", :class => "button_small_red", "data-bind" => "click: hangup">  
    </p>
*/
</script>
