<div id="header">
  <%= content_for_users_or_admin do %>
    <div class="name"> <h2> <%= current_user.name %> </h2> </div>
  <% end %>
    <div class="menu">
      <ul>
        <%= content_for_admin do %>
          <li > <%= link_to "Agents", agents_path %> </li>
          <li > <%= link_to "Contact Lists", contact_lists_path %> </li>
        <% end %>
        <%= content_for_users do %>
          <li > <%= link_to "Dialer", contacts_path %> </li>
        <% end %>
        <%= content_for_users_or_admin do %>
          <li > <%= link_to "Settings", edit_agent_path(current_user) %> </li>
          <li class="logout"> <%= link_to "Logout", logout_path %> </li>
        <% end %>
        <%= content_for_visitors do %>
          <li> <a href="/login">Log In</a> </li>
          <li> <a href="/register">Register</a></li>
        <% end %>
      </ul>
      <br/>
      <div class="language">  </div>
    </div>
</div>
