<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>DialaList</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery.min.js', 'rails', 'application' %>  

  <%= stylesheet_link_tag "compiled/screen.css", :media => "screen, projection" %>
  <%= stylesheet_link_tag "compiled/print.css", :media => "print" %>

  <!--[if lt IE 8]>
    <%= stylesheet_link_tag "compiled/ie.css", :media => "screen, projection" %>
  <![endif]-->

  <%= csrf_meta_tag %>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
</head>
<body class="bp .showgrid">

<%- flash.each do |name, msg| -%> 
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<%- end -%>

<div id="main">
  <%= yield %>
</div>

</body>
</html>
